# Ignorar archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar entornos virtuales
venv/
env/

# Ignorar archivos de configuración de VS Code
.vscode/

# Datos de resultados de simulaciones
Textfiles/
Keypoints/
Figures/

*.jpeg
*.txt
*.png
*.json
*.msgpack

# Jupyter Notebook
.ipynb_checkpoints

