# Ignorar archivos compilados de Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Ignorar entornos virtuales
venv/
.venv/
env/

#Ignorar archivos de uv
uv.lock

# Ignorar archivos de configuración de VS Code
.vscode/

# Datos de resultados de simulaciones
**/Textfiles/
**/Keypoints/
**/Figures/
**/First_sim/
./Simulations*/
**/Simulations*/
**/pile/
**/pruebas/
**/new_pruebas/

**/*.jpeg
**/*.txt
**/*.png
**/*.json
**/*.msgpack
**/*.log
**/*.out
*.orbax/

# Jupyter Notebook
.ipynb_checkpoints


# Excepciones
!config.json
!config_plots.json

!config0.json
!config1_CM.json
!config2_Hydra.json
!config3_Hydra_NN.json

!refinement.json
