# Ignorar archivos compilados de Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Ignorar entornos virtuales
venv/
env/

# Ignorar archivos de configuración de VS Code
.vscode/

# Datos de resultados de simulaciones
**/Textfiles/
**/Keypoints/
**/Figures/
**/First_sim/
**/Simulations/
**/pile/

**/*.jpeg
**/*.txt
**/*.png
**/*.json
**/*.msgpack
**/*.log
**/*.out

# Jupyter Notebook
.ipynb_checkpoints


#Excepciones
!config.json
!config_CM.json
!config_NN.json
!refinement.json
